body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
}
a{
    text-decoration:none;
    color: #2E2F42;
}
li {
    list-style-type: none;
}
h2{
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
p{
    font-weight: 400;
    letter-spacing: 0.02em;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    width: calc((100% - 48px) / 3); 
}
.nav{
    display: flex;
    align-items: center;
}
.web{
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-right: 76px;
}
.studio{
    color: #2e2f42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;   
}
.menu{
    display: flex;
    gap: 40px;
}
.nav_{
    word-spacing: 40px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
}
.nav_:hover{
    color: #404bbf;
}
.nav_:focus{
    color: #404bbf;
}
.address{
    font-style: normal
}
.address_{
    display: flex; 
    gap: 40px;
}
.mail{
    color:#434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex; 
}
.mail:hover{
    color:  #404bbf ;
}
.mail:focus{
    color:  #404bbf;
}
.section{
    background:#2E2F42;
    padding: 188px 0;
}
.title{
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0;
}
.button{
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
        /*Text*/
    color: #FFFFFF;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
}
.button:hover{
    background-color: #404BBF;
    
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.04em;
}
.button:focus{  
    background-color: #404BBF;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.section_{
    padding: 120px 0;
}
.li{
    background-color: #FFFFFF;
}
.effective.visually-hidden{
    background-color: #FFFFFF;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
._section{
    display: flex;
    gap: 24px;
}
.punctuality{
    width: calc((100% - 72px) / 4);
}
.strategy{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;
    text-align: center;
}
.strategy_{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.section__{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team{ 
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
    border: 0;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px; 
}
.__section{
    display: flex;
    gap: 24px;
}

.mark-guerrero{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4); 
}
.mark-guerrero1{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.mark{
    padding: 32px 0;
    width: calc((100% - 72px) / 4);
}
.camil-garcia{
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    
    background-color: #FFFFFF;
}
.daniel-wilson{
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    
    background-color: #FFFFFF;
}
.web2{
    color: #4D5AE5;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.studio2{
    color:#F4F4FD;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;   
}
.increase{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.section___{
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-portfolio{
    line-height: 1.11;
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    border: 0;
    margin-bottom: 72px;
}
.___section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    width: calc((100% - 48px) / 3); 
}
.banking{
    width: calc((100% - 48px) / 3); 
}
.app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.banking-app{
    background-color: #FFFFFF; 
    border: 1px solid #E7E9FC;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.banking-app_{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.web_{
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}
.studio_{
    color: #f4f4fd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;   
}